* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  height: 100vh;
}

.left_container {
  width: 35vw;
  background-image: url(./assets/form-background.avif);
  background-position: center;
  background-size: cover;
}

.right_container {
  width: 65vw;
}

.logo_container {
  background-color: rgba(0, 0, 0, 0.4);
}

#logo_image {
  width: calc(2em + 4vw);
}
@font-face {
  font-family: "Norse-Bold";
  src: url(./assets/Norse-Bold.otf);
}

#logo_para {
  font-family: "Norse-Bold";
  color: white;
  font-size: 6rem;
}
