* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  height: 100vh;
}

.left_container {
  width: 35vw;
  background-image: url(./assets/form-background.avif);
  background-position: center;
  background-size: cover;
  position: relative;
}

.logo_container {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 18vh;
  position: relative;
  top: 22vh;
}

#logo_image {
  width: clamp(calc(2em + 3vw), calc(2em + 4vw), 17vh);
  max-height: 17vh;
  height: auto;
}
@font-face {
  font-family: "Norse-Bold";
  src: url(./assets/Norse-Bold.otf);
}

#logo_para {
  font-family: "Norse-Bold";
  color: white;
  font-size: clamp(98px, 5vw, 150px);
  position: relative;
  top: 15px;
}

.right_container {
  width: 65vw;
}

.header_text h2,
.header_text p {
  font-size: clamp(0.5rem, 1rem, 2rem);
  font-family: sans-serif;
  font-weight: 600;
}
